<div class="scene">
    <div class="particles" id="particles"></div>

    <div class="wave-wrap">
        <svg viewBox="0 0 1200 200" preserveAspectRatio="none">
            <defs>
                <radialGradient id="planetDark" cx="50%" cy="30%" r="85%">
                    <stop offset="0%" stop-color="#111722" />
                    <stop offset="60%" stop-color="#06090f" />
                    <stop offset="100%" stop-color="#020306" />
                </radialGradient>

                <radialGradient id="neonGradient" cx="50%" cy="50%" r="85%">
                    <stop offset="0%" stop-color="#4facfe" />
                    <stop offset="50%" stop-color="#00f2fe" />
                    <stop offset="100%" stop-color="#ff6bcb" />
                </radialGradient>
            </defs>

            <ellipse cx="600" cy="240" rx="580" ry="125" fill="url(#neonGradient)" opacity="1.0">
                <animate attributeName="opacity" dur="300s" repeatCount="indefinite" values="1.0;0.1;1.0" />
            </ellipse>

            <ellipse cx="600" cy="240" rx="600" ry="115" fill="url(#planetDark)">
                <animate attributeName="cy" dur="18s" repeatCount="indefinite" values="240;234;246;240" />
            </ellipse>


        </svg>
    </div>
</div>

<script defer src="{{ '/assets/js/background.js' | relative_url }}"></script>