        <footer>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8 text-right">
                        <a href="/imprint.html" title="Impressum" alt="Impressum">Impressum</a>
                        <a href="/privacy-policy.html" title="Impressum" alt="Impressum">Datenschutzerklärung</a>
                    </div> 
                </div>
            </div>
        </footer>
        {% include scripts.html %}
    </body>
</html>