{% for post in include.paginator.posts %}
<div class="alert alert-light" role="alert">
    <div class="text-muted text-right">
        <small>
            {{ post.date | date: "%d.%m.%Y" }}
        </small>
    </div>
    <h5 class="alert-heading">
        {{ post.title }}
    </h5>
    <small>
        {{ post.excerpt }}
    </small>
    <hr>
    <a href="{{ post.url }}" class="alert-link">mehr...</a>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav aria-label="{{ include.nav-aria-label-text }}" class="d-print-none">
    <ul class="pagination justify-content-center">
        {% if paginator.first_page %}
        <li class="page-item">
            <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link" aria-label="Erste Seite">Erste Seite</a>
        </li>
        {% endif %}
        {% if paginator.previous_page %}
        <li class="page-item">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link" aria-label="Neuere Posts">&larr;</a>
        </li>
        {% endif %}
        {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="page-item active"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}" class="page-link" aria-label="Neuere Posts">{{ trail.num }}</a>
          </li>
        {% endfor %}
        {% endif %}
        {% if paginator.next_page %}
        <li class="page-item">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link" aria-label="Ältere Posts">&rarr;</a>
        </li>
        {% endif %}
        {% if paginator.last_page %}
        <li class="previous">
            <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link" aria-label="Letzte Seite">Letzte Seite</a>
        </li>
        {% endif %}
      {% endif %}
    </ul>
</nav>