<!-- jQuery -->
<script src="/assets/javascripts/jquery.min.js"></script>
<script src="/assets/javascripts/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/javascripts/popper.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/assets/javascripts/jqBootstrapValidation.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/assets/javascripts/agency.min.js"></script>
<script>
    $(document).ready(function() {
        $('.img-content').each(function() {
            $(this).wrap('<figure class="figure"></figure>'); 
            $(this).addClass('figure-img img-fluid rounded');
            var caption = $(this).attr('alt');
            $(this).after('<figcaption class="figure-caption text-right"><small>' + caption + '</small></figcaption>');
        });
    });
</script>