$enable-shadows: true;
$blue: #3EB5FD;
$yellow: #FFFD81;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #de5a5d;
$orange: #fd7e14;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #192529;
$primary: #4B9CD4;
$secondary: #6c757d;
$success: #28a745;
$info: #3EB5FD;
$warning: #FFFD81;
$danger: #de5a5d;
$light: #f8f9fa;
$dark: #343a40;
$color-bright-blue: #3EB5FD;
$color-dark-blue: #4B9CD4;
$color-dark-gray: $dark;
$color-orange: #FF676A;
$color-dark-orange: #de5a5d;
$color-yellow: #FFFD81;
$color-dark-yellow: #b3b25e;
$body-bg: $white !default;
$body-color: $gray-dark !default;
$link-color: $blue;