pre {
    position: relative;
    margin-bottom: 40px;
    color: $dark;
    border: none;
    line-height: 1.9em;
  }
  pre code {
    white-space: pre;
  }
  pre .gd {
    color: $dark;
    background-color: $color-dark-orange;
  }
  pre .gi {
    color: $dark;
    background-color: $success;
  }
  pre .c, pre .c1, pre .c2 {
    color: $red;
    font-style: italic;
  }
  pre .s1, pre .s2, pre .s, pre .sr, pre .sx {
    color: $blue;
  }
  pre .nv {
    color: $purple;
  }
  pre .k, pre .o, pre .kp {
    color: $color-dark-orange;
  }
  pre .mi {
    color: $teal;
  }
  pre .ss {
    color: $blue;
  }
  pre .si {
    color: $green;
  }
  pre .vi {
    color: $primary;
  }
  pre .p {
    color: $pink;
  }
  pre .m {
    color: $teal;
  }
  pre .nb, pre .no {
    color: $green;
  }
  pre .mh {
    color: $indigo;
  }
  pre .nl {
    color: $indigo;
  }
  pre .nt, pre .nc, pre .na {
    color: $pink;
  }
  pre .cp {
    color: $info;
  }
  pre .n {
    color: $color-dark-blue;
  }
  pre .gh {
    color: $success;
  }

.highlighter-rouge {
  box-shadow: 1px 1px 2px #ddd;
  padding-left: 3px;
  padding-right: 3px;
}