html {
    height: 100%;
}

body {
    background-color: $white;
}

.body-home {
    background-image: url(/assets/images/body-bg.png);
    background-position: bottom left;
    background-attachment: fixed;
}

main {
    margin-top: 23px;
}

.main-home {
    background-color: rgba(255,255,255,0.8);
    margin-top: 0px;
}

#message {
    height: 147px;
}